<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <a target="_blank" href="https://github.com/teamaarcana/Gas-Soln#what-is-gas-soln"><h4>Gas-Soln</h4></a>
                    <p>
						<span>A foot-step towards minimizing LPG fuel shortage and black-marketing.</span>
						<div>
							<a class="github-button" href="https://github.com/teamaarcana/Gas-Soln" data-count-href="/teamaarcana/Gas-Soln/stargazers" data-count-api="/repos/teamaarcana/Gas-Soln#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star teamaarcana/Gas-Soln on GitHub">Star</a>
							<a class="github-button" href="https://github.com/teamaarcana/Gas-Soln/fork" data-count-href="/teamaarcana/Gas-Soln/network" data-count-api="/repos/teamaarcana/Gas-Soln#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork teamaarcana/Gas-Soln on GitHub">Fork</a>
						</div>
					</p>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Selector: A React app</a></h4>
                    <p>
						<span>A simple app to help you make a choice. This is <a href="http://selector.kongsong.me" target="_blank">App demo</a>. It also supports other types of options, not restricted to food. </span>
						<div>
							<a class="github-button" href="https://github.com/songkong/Selector" data-count-href="/songkong/Selector/stargazers" data-count-api="/repos/songkong/Selector#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star songkong/Selector on GitHub">Star</a>
							<a class="github-button" href="https://github.com/songkong/Selector/fork" data-count-href="/songkong/Selector/network" data-count-api="/repos/songkong/Selector#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork songkong/Selector on GitHub">Fork</a>
						</div>
					</p>
                </div>
            </div>
        </div>
    </div>
</section>